* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: rgb(0, 0, 0);
}

/* Pokeball Styling */
.pokeball-part {
	height: 150px;
	width: 300px;
}

#pokeball-top {
	background-color: red;
	border-radius: 12rem 12rem 0rem 0rem;
	border-top-left-radius: 5px solid black;
	border-top-right-radius: 5px solid black;
}

#pokeball-mid {
	background-color: black;
	height: 25px;
}

#pokeball-bottom {
	background-color: white;
	border-radius: 0rem 0rem 12rem 12rem;
}

#pokeball-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: white;
	z-index: 500;
	height: 125px;
	width: 125px;
	border-radius: 100%;
	border: 15px solid black;
}

#pokeball-btn-center {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 2px solid black;
	cursor: pointer;
}

/* END */

/* Pokemon info card */
#pokemon-info-card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	background-color: white;
	z-index: 999;
	border-radius: 5px;
	height: 600px;
	width: 800px;
}

#pokemon-sprite {
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pokemon-sprite img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#pokedex-search {
	position: absolute;
	top: 30px;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	border: 2px solid gray;
	background-color: white;
}

#pokedex-search:focus {
	outline: none;
}

#pokemon-info {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-self: flex-start;
	flex-wrap: wrap;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 50%;
}

.group p {
	margin-block: 5px;
}

/* END */
