* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#video-background {
	border: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/* Pokeball Styling */
.pokeball-part {
	height: 150px;
	width: 300px;
}

#pokeball-top {
	background-color: red;
	border-radius: 12rem 12rem 0rem 0rem;
	border-top-left-radius: 5px solid black;
	border-top-right-radius: 5px solid black;
}

#pokeball-mid {
	background-color: black;
	height: 25px;
}

#pokeball-bottom {
	background-color: white;
	border-radius: 0rem 0rem 12rem 12rem;
}

#pokeball-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: white;
	z-index: 990;
	height: 125px;
	width: 125px;
	border-radius: 100%;
	border: 15px solid black;
}

#btn {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 2px solid black;
	cursor: pointer;
}

/* END */

/* Pokemon info card */
#pokemon-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	background-color: white;
	z-index: 999;
	border-radius: 5px;
	width: 350px;
}

#pokemon-image {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 200px;
	background-color: black;
	border: 1px solid white;
	border-radius: 5px;
}

#pokemon-image img {
	object-fit: cover;
}

#pokemon-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px;
	align-self: flex-start;
	flex-wrap: wrap;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 50%;
}

.group p {
	margin-block: 5px;
}

/* END */

/* Next Btn */
#next-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	padding: 0px;
	margin: 10px;
	cursor: pointer;
}

.pokeball-part-small {
	height: 10px;
	width: 20px;
}

#pokeball-top-small {
	background-color: red;
	border-radius: 12rem 12rem 0rem 0rem;
}

#pokeball-mid-small {
	background-color: black;
	height: 5px;
}

#pokeball-bottom-small {
	background-color: white;
	border-radius: 0rem 0rem 12rem 12rem;
}

#pokeball-btn-small {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: white;
	z-index: 990;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	border: 1px solid black;
}

#btn-small {
	height: 5px;
	width: 5px;
	border-radius: 100%;
	border: 1px solid black;
}

/* END */
